<div ID="template_example">
	Hello word!
	<br>
	Static server content: <!-- ${ write: content.contentExample } -->
	<br>
	Manual dynamic server contentA:
		<span base="{setHtml: this.templateJsVariable}"></span>
	<br>
	Manual dynamic server contentB:
		<span base="{setHtml: content.pathVariables.user_variable || '...', if: true}"></span>
		<span base="{setHtml: content.pathVariables.user_variable || '...', if: false}"></span>
	<br>
	Manual dynamic server contentC:
		<span base="{setAttr: {title: 'Title'}, addClass: ['TestA', 'TestItalic'], removeClass: 'TestA'}">TextWithClassAndTitleProperty</span>
	<br>
	This element ID: <span ID="template_example_element_id"></span>
	<br>
	Event example values: <span ID="template_example_event_value"></span>
</div>
