<div ID="template_example">
	Hello word!
	<br>
	Static server content --> <!-- ${ write: content.contentExample } -->
	<br>
	Dynamic template content from server data -->
		<span onbase="({ setHtml: content.contentExample, if: true })"></span>
		<span onbase="({ setHtml: content.contentExample, if: false })"></span>
	<br>
	Dynamic template content from JavaScript -->
		<span onbase="({ setHtml: this.templateJsVariable })"></span>
	<br>
	Dynamic template DOM attributes modification -->
		<span onbase="({ setAttr: {title: 'Title'}, setClass: {TestItalic: true} })">TextWithClassAndTitleProperty</span>
	<br>
	This component element ID -->
		<span ID="template_example_identifitator"></span>
	<br>
	This element ID -->
		<span ID="template_example_element_id" onbase="({ setHtml: this.id })"></span>
	<br>
	Parent JavaScript variable -->
		<span onbase="({ setHtml: this.parent.indexJsVariable })"></span>
	<br>
	Template input variable -->
		<span onbase="({ setHtml: this.input.indexTemplateVariable })"></span>
	<br>
	Event example values --> <span ID="template_example_event_value"></span>
	<br>
	<br>
	Generated table in template: <table>
		<tr onbase="({ forIn: this.array, key: 'a' })">
			<td onbase="({ forIn: this.array, key: 'b' })">
				<b onbase="({ setHtml: +this.array[a] + +this.array[b] * 10 })"
				   onclick="alert(this.tagName + ': ' + (+this.array[a] + +this.array[b] * 10))"></b>
				- <span onbase="({ template: '_example_/sub-component_example.html' })"></span>
			</td>
		</tr>
	</table>
	<br>
	Generated recursive tree in template: <ul>
		<li onbase="({
			forIn: this.groups, key: 'i',
			template: '_example_/recursive-component_example.html', input: {show: i}
		})"></li>
	</ul>
</div>
