<span onbase="({
	setHtml: (js.users[js.input.show] && js.users[js.input.show].name)
		|| js.groups[js.input.show].name + ':',
})"></span>
<ul onbase="({ if: !js.users[js.input.show] })">
	<li onbase="({
		forIn: js.groups[js.input.show].users, key: 'i',
		template: '_example_/recursive-component_example.html',
		input: {show: js.groups[js.input.show].users[i]}
	})"></li>
</ul>

<script>
	const b = require('client/src/_index.js');

	/** @type {{show: String}} */
	this.input; // contain context from parent: onbase="{{template: ..., input: ...}}"
	/** @type {any} */
	this.parent; // contain parent this
	/** @type {HTMLElement} */
	this.htmlElement; // contain HTMLElement of this template

	this.groups = this.parent.groups;
	this.users = this.parent.users;

	/** @type {function(): void} */
	this.destructor; // this function is called, when is this.htmlElement removed from template
</script>
