<span name="ID"></span>
<span onbase="({ forIn: js.array, key: 'a' })">
	<span onbase="({ setHtml: js.array[a] })"></span>
</span>

<script>
	const b = require('client/src/_index.js');

	/** @type {any} */
	this.input; // contain context from parent: onbase="{{template: ..., input: ...}}"
	/** @type {any} */
	this.parent; // contain parent this
	/** @type {HTMLElement} */
	this.htmlElement; // contain HTMLElement of this template

	let id = 0; // Each component has its own JS
	this.array = [1, 2, 3];

	this.htmlElement.querySelector('[name="ID"]').innerHTML = ++id + ' -';

	/** @type {function(): void} */
	this.destructor; // this function is called, when is this.htmlElement removed from template
</script>
