<span name="ID"></span>
<span onbase="({ forIn: this.array, key: 'a' })">
	<span onbase="({ setHtml: this.array[a] })"></span>
</span>

<script>
	const thisElement = require('client/utils/getActualElement.ignr.base.js');
	const s = require('client/src/_index.js');

	/** @type {any} */
	this.input; // contain context from parent: onbase="{{template: ..., input: ...}}"
	/** @type {any} */
	this.parent; // contain parent this

	let id = 0; // Each component has its own JS
	this.array = [1, 2, 3];

	thisElement.querySelector('[name="ID"]').innerHTML = ++id + ' -';

	/** @type {function(): void} */
	this.destructor; // this function is called, when is thisElement removed from template
</script>
